body {
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    background-image: url(../assets_s/background.jpg);
    background-size: 20%;
}

.white {
    background-color: white;
    border: white;
    text-decoration-color: black;
}

.cream {
    background-color: antiquewhite;
    border: antiquewhite;
    text-decoration-color: black;
}

.black {
    background-color: black;
    border: black;
    color: white;
}

.blue {
    background-color: rgb(0, 0, 85);
    color:aliceblue;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

h2 {
    font-weight: bolder;
    font-size: 300%;
    background-color: white;
    
}

a {
    text-decoration-color: aquamarine;
    background-color: black;
    color: aquamarine;
}

a:hover {
    text-decoration-color: blue;
    color: blue;
}

a:visited {
    text-decoration-color: blueviolet;
    color: blueviolet;
}

ol {
    text-align: start;
}

li {
    margin-left: 50px;
}

.big {
    font-size: larger;
}
